<h1>"{{model.questionTitle}}"</h1>
<h3>By: {{model.questionAuthor}}</h3>
<p>{{model.questionContent}}</p>
<p>Priority Level (0-10 scale): {{model.priority}}</p>



{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{update-question question=model update="update"}}
<br>
