<h1>"{{model.questionTitle}}"</h1>
<h3>By: {{model.questionAuthor}}</h3>
<p>{{model.questionContent}}</p>
<p>Priority Level (0-10 scale): {{model.priority}}</p>

{{update-question question=model update="update"}}
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer question=model save2="save3"}}
